    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p class="lead">I am a computer engineering graduate student in <a href="https://www.asu.edu">Arizona State University</a>. I am a code, design and zen lover. I write <a href="http://xiaohuang.rocks">blogs</a> about technique, art, culture, life and everything. I like music, especially folk and rock. I am learning guitar, cajun and sax.<p>
                <p><i class="fa fa-code"></i> <i class="fa fa-pencil"></i> <i class="fa fa-music"></i> <i class="fa fa-rss"></i> <i class="fa fa-gamepad"></i> <i class="fa fa-dribbble"></i> <i class="fa fa-gavel"></i> <i class="fa fa-heart"></i> <i class="fa fa-smile-o"></i></p>
                <p><i>“You can’t connect the dots looking forward; you can only connect them looking backward. So you have to trust that the dots will somehow connect in your future. You have to trust in something — your gut, destiny, life, karma, whatever. This approach has never let me down, and it has made all the difference in my life.”</i></p>
                <p><i>Steve Jobs</i></p>
                <br/>
              </div>
        </div>
    </section>
